.adminDashboard {
    margin: 0 2% !important;
}

.adminLayout {
    padding: 15px 10px !important;
}

.material-icons {
    font-size: 2em;
}

.RowSideNav {
    padding-bottom: 30px;
    float: right;
    margin-right: 100px;
}

.menuIcon {
    font-size: 1.5em;
    color: WHITE;
    padding: 7px 7px 0px 7px;
    box-shadow: 3px 3px black;
    position: fixed;
    z-index: 100;
    background-color: #2BBBAD;
    border-radius: 50%;
}

.menuIcon:hover {
    /* background-color: red; */
    cursor: pointer;
    transition: 0.25s ease;
    -ms-transform: rotate(360deg) scale(1.1);
    border: 2px solid gray;
    box-shadow: none;
    /* IE 9 */
    transform: rotate(360deg) scale(1.1);
    -moz-transition: 0.25s ease;
    /* Firefox */
    -webkit-transition: 0.25s ease;
    /* Chrome - Safari */
    -o-transition: 0.25s ease;
    /* Opera */
}


/* 
.mainLayout>.row {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
} */